#mainNav {
    border-bottom: 3px solid #1ab2ff;
    background-color: #cce6ff;
    width: 100%;
    margin: 0px;

}

#navbarResponsive {
    font-size: 20px;
    padding: 4px 1px 4px 1px;

}

.navbar-brand {
  font-size: 35px;
  padding: 15px 1px 4px 1px;
  font-weight: bold;
  font-family: fantasy;

}



div .us{
  background-color: #ffb366;
  color:white;
  margin-bottom: 50px;
  padding: 30px 10px 400px 10px;
  border-radius: 50px;
  opacity: 1;

}

div .References{
  background-color: #cce6ff;
  background-size: cover;
  color:white;
  padding: 30px 10px 400px 10px;
  border-radius: 50px;
  opacity: 1;
}

.footer{
  height: 100px;
  background-color: #cce6ff;
  width: 100%;
  margin: 0px;
  position:absolute;

}

h5{
  padding: 45px 10px 45px 10px;
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  color: black;
  font-weight: lighter;
}
